
.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}